.one {
    display: flex;
    width: fit-content;
    height: fit-content; 
    background-color:white;
   
}

.container {
    display: flex;
    width: 700px;
    height: 700px;
    padding: 20px ;
    background-color: white;
    flex-direction: column;
   justify-content: center;
    align-items: center;

}

.two {
    display: flex;
    width: 30px;
    height: 30px; 
    background-color:white;
    border: 1px solid black;
    
   
}


    
   
